{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="container">
    <div class="row  justify-content-center">
        <img src="static/logo.png" alt="Italian Trulli">
    </div>
    <div class="row  justify-content-center">
        {% if failed %}
        <h1> {{failed}} </h1i>
            {% else %}
            <h1>
                <div id="target_div" class="text-center"></div>
            </h1>
            {% endif %}

    </div>

</div>
</div>


{% if not failed %}
<script>

    $(document).ready(function () {
        targetContainer = document.getElementById("target_div")
        $.ajax({
            type: 'POST',
            url: '/get_order_status/{{order_id}}',
            success: function (data, status, request) {
                status_url = request.getResponseHeader('Location');
                update_progress(status_url, targetContainer);
            },
            error: function () {
                alert('Unexpected error');
            }
        });
    });

    function update_progress(status_url, targetContainer) {
        // send GET request to status URL
        $.getJSON(status_url, function (data) {
            // update UI    
            targetContainer.innerHTML = data['txt']
            if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
                // Order has been completed or it has been canceled
            }
            else {
                // rerun in 2 seconds
                setTimeout(function () {
                    update_progress(status_url, targetContainer);
                }, 1000);
            }
        });
    }
</script>

{% endif %}

{% endblock %}
